{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Video Player</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="{% static 'js/htmx.min.js' %}" defer></script>
		{% tailwind_css %}
	</head>
	<header class="container mx-auto my-8">
		<div class="flex justify-between">
			<div class="flex items-center space-x-8">
				<a href="/" class="text-4xl font-serif tracking-tight">VideoPlayer</a>
				{% if user.is_authenticated %}
				<div class="flex items-center space-x-4 text-lg mx-2 font-medium">
					<a href="/upload">Upload</a>
				</div>
				{% endif %}
			</div>
			<div class="flex items-center space-x-4">
				<nav class="text-lg">
					{% if user.is_authenticated %}
					<a href="/users/logout" class="p-2 border rounded-lg">Logout</a>
					{% else %}
					<a href="/users/login" class="p-2 border rounded-lg">Login</a>
					{% endif %}
				</nav>
			</div>
		</div>
	</header>
	<body>
		<div class="container mx-auto font-sans">
			{% block content %}{% endblock content %}
		</div>
	</body>
</html>
