{% extends "_base.html" %}

{% block content %}
<h2 class="text-2xl mb-4">Upload a New Video</h2>
<form hx-post="{% url 'upload' %}" hx-target="#message" hx-encoding="multipart/form-data">
    {% csrf_token %}
    <div class="space-y-8 bg-slate-200 p-4 rounded-lg shadow-md">
        <div class="space-y-4">
            <div>
                <p class="font-medium">Title</p>
                <input type="text" name="title" maxlength="50" placeholder="Title" required id="id_title" class="rounded shadow-md">
                {% if form.title.errors %}
                <p class="text-red">hi</p>
                {% endif %}
            </div>
            <div>
                <p class="font-medium">Description</p>
                <input type="text" name="description" placeholder="Description" maxlength="50" id="id_description" class="rounded shadow-md">
            </div>
        </div>
        <div class="">
            <p class="font-medium">File</p>
            <input type="file" name="file" id="id_file" required>
        </div>
        <div >
            <input type="submit" value="Submit" class="bg-slate-400 rounded-lg p-2 text-white font-bold">
        </div>
    </div>
</form>
<div id="message"></div>
{% endblock content %}